
@{
    ViewData["Title"] = "IndividualHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--  Made With Material Kit  -->
<!--   Big container   -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="purple" id="wizard">
                    <!-- <div class="logo-container">
                        <div class="logo">
                            <img src="assets/img/Ogun WEB-LOGO.png">
                        </div>
                    </div> -->
                    <form>

                        <div class="wizard-header">
                            <div class="row">
                                <div class="col-md-3"><img src="~/assets/img/Ogun WEB-LOGO.png" style="height:35px;width:150px"></div>

                                <div class="col-md-6 text-center">
                                    <h4 class="wizard-title" style="color: green;">

                                        Tax Payers Registration
                                    </h4>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-1">
                                <select class="form-control" id="search">
                                    <option>Select Registeration Type</option>
                                    <option>Individual</option>
                                </select>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" id="individual">
                                        <option>select search criteria</option>
                                        <option>STIN</option>
                                        <option>Single name</option>
                                        <option>Email</option>
                                        <option>phone no</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div id="individual2">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="enter search text" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" class="btn btn-success btn-sm" value="Search" id="searchIndividual">
                                </div>
                            </div>
                            
                        </div>
                        <div id="individual3">
                            <div style="margin-top:10px;">
                                <div class="row" id="individual3">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <span>Can't find tax payer in the list below?  </span><a href="@Url.Action("Individual","Taxpayer")" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> click here</a> to register
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:20px;position:relative;left:-5%;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-11 col-sm-offset-1">
                                            <table id="example" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>S/n</th>
                                                        <th>Payer name</th>
                                                        <th>STIN</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Ogundiji IDiat folashade adetori</td>
                                                        <td>2398-OP87</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Ogundiji yusuf</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail2.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Ogundiji waliu</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Ismail misbaudeen</td>
                                                        <td>2398-OPYU</td>
                                                        <td>afolesmith@gmail.com</td>
                                                        <td>0908888834</td>
                                                    </tr>

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <br />
            </div>
        </div> <!-- wizard container -->
    </div>
</div> <!-- row -->
<!--  big container -->
