
@model IndividualRegisterVm

@{
    ViewData["Title"] = "Individual";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!--   Big container   -->
<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="purple" id="wizard">
                    <form>

                        <div class="wizard-header">
                            <div class="row">

                                <div class="col-md-3"><img src="~/assets/img/Ogun WEB-LOGO.png" style="height:35px;width:150px"></div>

                                <div class="col-md-6 text-center">
                                    <h4 class="wizard-title" style="color: green;">
                                        Individual Registration
                                    </h4>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                        <div class="wizard-navigation">
                            <ul>
                                <li><a href="#location" data-toggle="tab">Step 1</a></li>
                                <li><a href="#type" data-toggle="tab">Step 2</a></li>
                                <li><a href="#facilities" data-toggle="tab">Step 3</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            
                            <div class="tab-pane" id="location">
                                <h4 class="info-text">Personal Information</h4>
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Courtesy title</label>
                                            <input type="text" asp-for="Courtesy" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Surname</label>
                                            <input type="text" asp-for="Surname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Firstname</label>
                                            <input type="text" asp-for="Firstname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Othername</label>
                                            <input type="text" asp-for="Othername" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Phone No 1</label>
                                            <input type="text" asp-for="Phone1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Phone No 2 </label>
                                            <input type="text" asp-for="Phone2" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Occupation</label>
                                            <input type="text" as-for="Occupation" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Gender</label>
                                            <select class="form-control" asp-for="GenderId">
                                                <option>select gender</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="type">
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Marital status</label>
                                            <select class="form-control" asp-for="MaritalStatusId">
                                                <option>select marital status</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="label-up">
                                            <div class="form-group">
                                                <label class="control-label">Date of birth</label>
                                                <input type="date" class="form-control"  asp-for="DateofBirth"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" class="form-control" asp-for="Email" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Nationality</label>
                                            <select class="form-control" asp-for="Nationality">
                                                <option>Nigeria</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="facilities">
                                <h4 class="info-text">Address</h4>
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">State</label>
                                            <select class="form-control" asp-for="StateId">
                                                <option>select state</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">State LGA area</label>
                                            <select class="form-control" asp-for="LGAId">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Street no & street name</label>
                                            <input type="text" class="form-control" asp-for="Address">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Area / Landmark</label>
                                            <input type="text" class="form-control" asp-for="Landmark">
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">City</label>
                                            <select class="form-control" asp-for="City">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Nearest Tax offices</label>
                                            <select class="form-control" asp-for="TaxOffice">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-sm-offset-1">
                                        <div class="form-group label-floating">
                                            <label class="control-label">firs Tax Identification no</label>
                                            <input type="text" class="form-control" asp-for="TaxNo" />
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Payers type</label>
                                            <select class="form-control" asp-for="PayerType">
                                                <option>Employed</option>
                                                <option>Unemployed</option>
                                                <option>Student</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next' value='Next' />
                                <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div> <!-- row -->
</div> <!--  big container -->
